@namespace WithTeachers.Pages.Scheduler
@using WithTeachers.Data

<td rowspan="@SpanMatrix[X, Y]"
    draggable="true"
    @ondrag="HandleDrag"
    @ondragstart="@(() => HandleDragStart(Activity))"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave"
    @ondrop="HandleDrop"
    class="small @CellClass @(Day.DayOfYear == DateTime.Now.DayOfYear ? "currentDay" : "") @(Day.Minute != 30 ? "dash" : "nolineTop")"
    style="@dragClass"
    ondragover="event.preventDefault();">
        @if (Activity != null)
    {
            <strong>@Activity.Title</strong>
    }
    @Day.ToString("dd MMMM hh:mm tt")
</td>

@*ondragstart="event.dataTransfer.setData('', event.target.id);"*@

@code {
    [Parameter]
    public int[,] SpanMatrix { get; set; }

    [Parameter]
    public int X { get; set; }

    [Parameter]
    public int Y { get; set; }

    [Parameter]
    public bool IsResizable { get; set; }

    [Parameter]
    public DateTime Day { get; set; }

    [Parameter]
    public string CellClass { get; set; }

    [Parameter]
    public Activity Activity { get; set; }

    private string evento = "";

    private string dragClass = "";

    private void HandleDragStart(Activity selectedActivity)
    {
        dragClass = "border: 2px dashed blue !important;";
    }

    private void HandleDrag(DragEventArgs e)
    {
        dragClass = "border: 2px dashed green !important;";
    }

    private void HandleDragEnter(DragEventArgs e)
    {
        dragClass = "border: 2px dashed pink !important;";
    }

    private void HandleDragLeave(DragEventArgs e)
    {
        dragClass = "";
    }

    private void HandleDrop(DragEventArgs e)
    {
        dragClass = "border: 2px dashed cyan !important;";
    }
}