@page "/scheduler"

@namespace WithTeachers.Pages.Scheduler
@using WithTeachers.Data
@using System.Globalization
@using System.Collections.Generic
@inject ApplicationUserService ApplicationUserService
@attribute [Authorize]

<h3>Scheduler</h3>

<div class="form-group col-4">
    <label for="datePicker">Choose a date:</label>
    <input type="date" class="form-control" id="datePicker" @bind="@SelectedDate">
</div>
<p><strong>@SelectedDate.ToShortDateString() bla</strong></p>

<section class="scheduler">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <DaysHeading Week="@Week" />
            </tr>
        </thead>
        <tbody>
            @{
                int hour = -1;
            }
            @for (int i = 0; i < 48; i++)
            {
                hour = i % 2 == 0 ? i / 2 : -1;
                <tr>
                    @if (hour != -1)
                    {
                        <th rowspan="2">@(hour != -1 ? hour < 13 ? hour + ":00 AM" : hour % 12 + ":00 PM" : "")</th>
                    }
                    @for (int j = 0; j < 7; j++)
                    {
                        <td class="@(hour != -1 ? "dash" : "nolineTop")"></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</section>

@code {
    private static DateTime _selectedDate = DateTime.Now;
    private static DateTime SelectedDate
    {
        get => _selectedDate;
        set { 
            _selectedDate = value; 
            Week = new Week(value); 
        }
    }

    private static Week Week = new Week(SelectedDate);
}